* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  height: 600px;
  background-color: blueviolet;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: aquamarine;
  opacity: 0.8;
  height: 70px;
}

.logo {
  font-size: 30px;

}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;

}

li  {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-right: 30px;
}

.sec {
  height: 900px;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.sec_1 {
  background-color: brown;
}

.sec_2 {
  background-color: burlywood;
}

.sec_3 {
  background-color: coral;
}

.sec_4 {
  background-color: darkgrey;
}